/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/assets/external/bootstrap/
/assets/external/fontawesome/
/assets/external/google-code-prettify/
/assets/external/jquery/
